.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 35px 40px 35px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-sizing: border-box;
  .body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .linkContainer{
        padding-bottom: 10px;
    }
    a {
      color: var(--text-secondary);
      text-decoration: none;
    }
  }
}
