.animationPreview {
    // border: 1px solid red;
    color: var(--text-secondary);
    width: calc(31% + 3px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    .videoContainer {
      cursor: pointer;
      height: 15vw;
      max-height: 250px;
      display: flex;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      position: relative;
      background-color: var(--card-background);
      border: 0.01px solid var(--code-border);
      transition: transform 0.3s;
      width: 100%;
      border-radius: 10px;
      .video {
        z-index:99;
        object-fit: cover;
        margin-top: 0;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
      } 
    }
    .body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      // margin-top: 10px;
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
          font-size: 12px;
          display: block;
          // border: 1px solid red;
          margin-block-start: 0.5em;
          // margin-block-end: 0.5em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      }
      .text {
        width: 100%;
        .button {
          color: var(--text-primary);
          display: block;
          font-size: 1em;
          // margin-block-start: 0.3em;
          margin-block-end: 0.5em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          cursor: pointer;
        }
        p{
          font-size: 12px;
        }
        .button:hover{
          text-decoration: underline;;
        }
      }
    }
  }